.qualities-wrapper {
  margin: 0 -3px;
}

span.badge {
  margin: 0 3px;
}

h1.badge {
  position: fixed;
  padding: 10px 15px;
  font-size: 1.5rem;
}
.table-wrapper {
  position: relative;
  top: 50px;
  display: block;
  height: calc(100vh - 50px);
  overflow-y: auto;
}
